<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <style>
      /* h2,
      p {
        margin: 0;
      } */
      body {
        height: 100wh;
      }
      .mom {
        width: 100%;
        height: 100px;
        background-color: lightgray;
      }
      .first,
      .second {
        background-color: gray;
      }

      button {
        width: 150px;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div
      class="mt-5 d-flex flex-wrap-nowrap justify-content-between align-items-end mom"
    >
      <div class="gucarouselitemprice d-flex flex-wrap-nowrap first">
        <!-- {% if not bottomLeft is empty %} -->
        <h2 class="align-self-end mb-0">50€<!-- {{ bottomLeft|raw }} --></h2>
        <p class="gucarouselitemprice-tax align-self-end mb-0">inkl. MwSt.</p>
        <!-- {% endif %} -->
      </div>
      <div
        class="gucarouselshopping__cart d-flex justify-content-end align-items-end second"
      >
        <input type="hidden" name="id" value="{{ itemURL }}" />
        <button class="btn btn-primary" type="submit">
          <!-- {{ get_icon("Warenkorb")|raw }} -->buy
        </button>
      </div>
    </div>
    <!-- <div class="mt-5 d-flex flex-wrap-nowrap justify-content-between align-items-end">
        <div class="gucarouselitemprice d-flex flex-wrap-nowrap">
            {% if not bottomLeft is empty %}
                <h2 class="align-self-end mb-0"> {{ bottomLeft|raw }}</h2>
                <p class="gucarouselitemprice-tax align-self-end mb-0">inkl. MwSt.</p>
            {% endif %}
        </div>
        <div class="gucarouselshopping__cart d-flex justify-content-end align-items-end">
            <input type="hidden" name="id"value="{{ itemURL }}">
            <button class="btn btn-primary" type="submit">
                {{ get_icon("Warenkorb")|raw }}
            </button>
        </div>
    </div> -->
  </body>
</html>
